
{# templates/reservation/reserve.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<main>
    <div class="container">
    <h1 class="text-danger mt-5 text-center">Réservation</h1>
    <p class="text-center">Veuillez remplir le formulaire ci-dessous pour réserver votre table.</p>
    <hr class="featurette-divider mt-5">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.numberOfGuests) }}
        {{ form_row(form.email) }}
        {{ form_row(form.arrivalDate) }}
        {# {{ form_row(form.submit,  {'attr': {'class': 'btn-danger'}}) }} #}
        {# {{ form_row(form.departureDate) }} #}
        {{ form_row(form.startTime)}}
        <button type="submit" class="btn btn-danger">Réserver</button>
        {{ form_end(form) }}

    <hr class="featurette-divider mt-5">
    </div>
{% endblock %}