{{form_start(menuForm)}}
{{form_row(menuForm.name)}}
{{form_row(menuForm.description)}}
{{form_row(menuForm.price)}}
<button type="submit" class="btn btn-danger">Ajouter</button>
{{form_end(menuForm)}}